<div class="container-fluid">
  <div class="row">
    <div style="height: 5px"></div>
    <div class="col-md-12 d-flex justify-content-between align-items-center">
      <div class="col-md-10">
        <p class="warning-popup-heading">Consolidated Errors</p>
      </div>
      <div class="col-md-2 text-right">
        <button closeButton [mat-dialog-close]="false"></button>
      </div>
    </div>
  </div>

  <div style="height: 10px"></div>

  <div class="row">
    <div class="col-md-12">
      <div class="container-fluid border">
        <div style="height: 15px"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-warning d-flex align-items-center p-2">
              <mat-icon class="me-2">info</mat-icon> Contains all errors uploaded in the file
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <ag-grid-angular
              style="width: 100%; height: 300px;text-align: center"
              class="ag-theme-balham"
              [rowHeight]="30"
              [paginationAutoPageSize]="true"
              [paginationPageSize]="20"
              [headerHeight]="35"
              [scrollbarWidth]="2"
              rowSelection="multiple"
              [rowMultiSelectWithClick]="true"
              [pagination]="true"
              [rowData]="rowData"
              [columnDefs]="columns">
            </ag-grid-angular>
          </div>
        </div>
        <div style="height: 10px"></div>
      </div>
    </div>

  </div>
</div>
