/*global search */
.sb-example-1 .searchTerm {
  width: 100%;
  border: 1px solid #5e9cd3;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  margin-left: 14px;
  color: #000000;
}

/*mat-dropdown*/
::ng-deep .mat-mdc-text-field-wrapper {
  height: 35px !important;
}

/*mat-dropdown*/
::ng-deep  .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
  padding-top: 10px;
}

/*goBack*/
.backBtn{
  color: #3f51b5;
  margin-right: -10px;
  height: 20px
}

.imageStyle{
  height: 25px;
  padding-left: 10px;
  margin-bottom: 10px;
  margin-top: 10px
}

.submitButton{
  width: 130px;
  height: 35px;
  margin-left: -30px;
  background-color: #004da7;
  color: white;
  border: none;
}

.matlabel{
  font-size: 12px;
  vertical-align: text-top!important;
}
