 <div class="filter-container">
  <div class="card">
    <div class="card-header heading-p" >
      Search Criteria
    </div>
    <div class="card-body">
      <form [formGroup]="filterForm">
        <div class="row">
          <div *ngFor="let field of filterFields" class="col-md-4 mb-0">
            <div class="filter-form">
              <div class="inputs">
              <!-- &lt;!&ndash; Text Input &ndash;&gt;
               <input *ngIf="field.type === 'text'"
              matInput
              [formControlName]="field.key"
              type="text"
              [placeholder]="field.label"> &ndash;&gt;
              Material Dropdown with Search -->
              <label>{{ field.label }}</label>
              <mat-form-field *ngIf="field.type === 'dropdown'" class="full-width" appearance="fill">
                <mat-label>Select {{ field.label }}</mat-label>
                <mat-select [formControlName]="field.key" multiple="{{field.multiple}}">
                  <mat-option>
                    <ngx-mat-select-search [formControl]="searchFilter"
                                           [noEntriesFoundLabel]="'Nothing to display'"
                                           [placeholderLabel]="'Search'">
                      <i class="material-icons dlticon" ngxMatSelectSearchClear>delete_outline</i>
                    </ngx-mat-select-search>
                  </mat-option>

                  <!-- Show "None" option only if multiple is false -->
                  <mat-option *ngIf="!field.multiple" [value]="null">None</mat-option>

                  <mat-option *ngFor="let option of filteredOptions[field.key]" [value]="option.value">
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>

              <!-- Date Picker -->
              <!--<mat-form-field *ngIf="field.type === 'date'" class="full-width" appearance="outline">
                <mat-label>{{ field.label }}</mat-label>
                <input matInput [formControlName]="field.key" type="date">
              </mat-form-field>

               Checkbox -->
              <!--<mat-checkbox *ngIf="field.type === 'checkbox'" [formControlName]="field.key">
                {{ field.label }}
              </mat-checkbox>-->
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-end" style="margin-top: -3vw;">
            <button class="btn btn-primary me-1" (click)="applyFilters()">Apply filter</button>
<!--            <button class="btn btn-light" (click)="resetFilters()">Clear filter</button>-->
          </div>

        </div>
      </form>
    </div>
  </div>
 </div>
