<div class="container">
  <div class="d-flex justify-content-between">
    <div class="p-1">
      <label class="head">Bypass Requests</label>
    </div>
    <div class="p-1">
      <span (click)="close()">
        <mat-icon class="close-icon">close</mat-icon>
      </span>
    </div>
  </div>

  <mat-divider></mat-divider>

  <div class="container-fluid card" style="padding: 10px; margin-bottom: 10px;">
    <!-- Scrollable Container for Warnings -->
    <div class="scroll-container" *ngIf="hasBypassData">
      <!-- Loop to Render Rows Without Table -->
      <div *ngFor="let item of filteredBypassData" class="error-row">
        <div class="d-flex align-items-center">
          <strong style="padding: 15px"> ⚠️</strong>
          <div class="row-content">
            <p style="color:red" [innerHTML]="item.errorMessage"></p>
            <p><strong>Parent SKU:</strong> {{ item.parentItem }}</p>
            <p><strong>Child SKU:</strong> {{ item.childItem }}</p>
            <p><strong>Depot:</strong> {{ item.depot }}</p>
            <p><strong>Channel:</strong> {{ item.channel }}</p>
          </div>
        </div>
      </div>
    </div>

    <div style="height: 10px;"></div>

    <!-- Fixed Section for Approval Message -->
    <div class="d-flex justify-content-center">
      <p class="pHeader">Are you sure to approve the request(s)?</p>
    </div>

    <!-- Remarks Section -->
    <div class="d-flex">
      <textarea name="" cols="30" rows="10" style="width: 99%; height: 70px;" maxlength="500"
                placeholder="Enter remarks..." [(ngModel)]="remarks" (input)="validateRemarks($event)"></textarea>
    </div>
    <small class="text-muted counter">{{ remarks ? 500 - remarks.length : 0 }} characters left</small>

    <!-- Buttons for Cancel and Approval -->
    <div class="d-flex justify-content-end" style="margin-right: -11px;">
      <div class="p-1">
        <button mat-stroked-button color="warn" (click)="close()">
          <mat-icon>keyboard_double_arrow_left</mat-icon>Cancel
        </button>
      </div>
      <div class="p-1">
        <button mat-stroked-button color="primary" (click)="ApproveRequest()">Yes, Approve</button>
      </div>
    </div>
  </div>
</div>
