/*global search */
.sb-example-repository .searchTerm {
  width: 85%;
  border: 1px solid #5e9cd3;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #000000;
  height: 35px
}
