/*global search */
.sb-example-repository .searchTerm {
  width: 70%;
  border: 1px solid #5e9cd3;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #000000;
  height: 35px
}


.repository-container {
  border-radius: 1.94vw;
  margin-top: 2.01vw;
}

.repository-container form {
  padding: 1.05vw;
  border-radius: 5px;
  border: solid 1px lightgrey
}

@media (max-width: 991.98px) {
  .repository-container form {
    border-radius: 0 0 2.82vw 2.82vw;
  }
}

@media (max-width: 575.98px) {
  .repository-container form {
    border-radius: 0 0 4.86vw 4.86vw;
  }
}

.form-wrapper {
  width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5.13vw;
  row-gap: 0.63vw;
}

@media (max-width: 991.98px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
    column-gap: 7.45vw;
    row-gap: 3.83vw;
  }
}

@media (max-width: 575.98px) {
  .wrapper {
    grid-template-columns: 1fr;
    row-gap: 6.59vw;
    column-gap: 12.84vw;
  }
}

.inputs select {
  width: 20.9vw;
}

@media (max-width: 991.98px) {
  .inputs select {
    width: 100%;
  }
}

/*.inputs input,*/
/*!*.input-date {*!*/
/*!*  border: none;*!*/
/*!*  outline: none;*!*/
/*!*  background: rgba(227, 227, 227, 1);*!*/
/*!*  padding: 0.7vw;*!*/
/*!*  border-radius: 0.76vw;*!*/
/*!*  font-size: 1.25vw;*!*/
/*!*  width: 100%;*!*/
/*!*}*!*/

@media (max-width: 991.98px) {
  .inputs input,
  .input-date {
    padding: 1vw;
    border-radius: 1.1vw;
    font-size: 1.81vw;
  }
}

@media (max-width: 767.98px) {
  .inputs input,
  .input-date {
    padding: 1.4vw;
  }
}

@media (max-width: 575.98px) {
  .inputs input,
  .input-date {
    padding: 2.43vw;
    font-size: 3.12vw;
    border-radius: 1.9vw;
  }
}

.form-btn {
  background: rgba(102, 189, 80, 1);
  width: 21.59vw;
}

@media (max-width: 991.98px) {
  .form-btn {
    width: 31vw;
  }
}

@media (max-width: 575.98px) {
  .form-btn {
    width: 100%;
  }
}


.heading-p {
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  font-size: 20px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;

}

/*@media (max-width: 991.98px) {*/
/*  .heading-p {*/
/*    padding: 2.21vw;*/
/*    border-radius: 2.82vw 2.82vw 0 0;*/
/*    font-size: 2.21vw;*/
/*  }*/
/*}*/

/*@media (max-width: 575.98px) {*/
/*  .heading-p {*/
/*    border-radius: 4.86vw 4.86vw 0 0;*/
/*    padding: 3.81vw;*/
/*    font-size: 3.81vw;*/
/*  }*/
/*}*/



.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.41vw;
}

@media (max-width: 991.98px) {
  .inputs {
    gap: 0.6vw;
  }
}

@media (max-width: 575.98px) {
  .inputs {
    gap: 1.04vw;
  }
}


.full-width {
  width: 100%;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
  overflow: hidden !important;
}

.dlticon{
  display: flex;
  align-items: center !important;
  margin-top: -10px !important;
  width: 2px !important;
  height: 2px !important;
}

.toggle-bar{
  float: right;
  margin-right: 25px;
}
