/*global search */
.sb-example-repository .searchTerm {
  width: 70%;
  border: 1px solid #5e9cd3;
  padding: 5px;
  border-radius: 5px 5px 5px 5px;
  outline: none;
  color: #000000;
  height: 35px
}
::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface{
  overflow: hidden !important;
}

.dlticon{
  display: flex;
  align-items: center !important;
  margin-top: -10px !important;
  width: 2px !important;
  height: 2px !important;
}

.toggle-bar{
  float: right;
  margin-right: 25px;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 1vw;
}

.heading-p {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
  font-weight: 500;

}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 0.41vw;
}


