.card {
  width: 105%;
  margin: 5px;
  height: 90px;
  border-radius: 10px
}

mat-icon{
  color: white;
  margin-left: auto;
}

.body{
  padding: 10px;
  color: white;
}
.count{
  height: 80px;
}

.card-content-style {
  font-family: Lato;
}

button {
  margin: .2em;
}

.selected-card {
  box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
  transform: translate3d(0,0,0);
  transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}

/*setting bg color to active tab*/
::ng-deep .mat-mdc-tab.mdc-tab--active{
  background-color: #d2d9ec;
}
