<div class="container-fluid">
  <div class="card" style="height: 100%">
    <div class="card-body">
      <mat-tab-group >
        <!-- Requesters Mapping Tab -->
        <mat-tab label="Requesters Mapping">
          <div class="row">
            <div class="col-md-12" align="left">
              <label class="form-header-3">Requesters&nbsp;</label>
              <label class="form-header-3">Mapping&nbsp;</label>
              <small style="color: #005193">- Depot wise requester mapping for FIFO bypass.</small>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <mat-divider></mat-divider>
            </div>
          </div>

          <div style="height: 10px"></div>

          <app-advanced-filter
            *ngIf="showFilter" #advancedFilter
            [filterFields]="productFilterFields"
            (applyFilter)="onFilterApplied($event)">
          </app-advanced-filter>

          <div style="height: 20px"></div>

          <div class="d-flex justify-content-between align-items-center flex-wrap">

            <div class="sb-example-userMaster mr-1 d-flex align-items-center flex-grow-1">
              <input type="text" class="searchTerm mt-2" placeholder="Search here..." (keypress)="omit_special_char($event)" [(ngModel)]="search" (input)="globalSearch(search)">
            </div>

            <button class="btn upload-btn btn-sm mr-1 mt-2" (click)="openTemplateDownloadWarning()" style="height: 30px;">
              <i class="fa fa-cloud-upload"></i>&nbsp; Upload Mapping
            </button>
            <button class="btn mapping-btn btn-sm mr-1 mt-2" (click)="addNewUserMapping()" style="height: 30px;">
              <i class="fa fa-user-plus"></i>&nbsp; New Mapping
            </button>
            <button class="btn user-master-download-btn btn-sm mr-1 mt-2" (click)="downloadUserMaster()" style="height: 30px;" matTooltip="Download Mapping as Excel">
              <img src="assets/user_download.png" alt="" style="height: 28px;margin-top: -3px"/>&nbsp;User Master
            </button>
            <!-- Filter Button -->
            <button class="btn btn-sm mr-1 mt-2 filter" matTooltip="Apply Filter" (click)="applyFilter()">
              <img src="assets/filter_2.png" alt="" style="height: 20px;" />
            </button>

            <!-- Clear Filter Button -->
            <button class="btn btn-sm mr-0 mt-2 filter" matTooltip="Remove filter" (click)="removeFilter()">
              <img src="assets/filter_c2.png" alt="" style="height: 20px;" />
            </button>
          </div>

          <div style="height: 5px"></div>

          <div class="d-flex justify-content-center p-0">
            <ag-grid-angular
              style="width: 100%; height: 510px;text-align: center"
              class="ag-theme-balham"
              [rowHeight]="26"
              [paginationAutoPageSize]="true"
              [paginationPageSize]="20"
              [headerHeight]="35"
              [scrollbarWidth]="2"
              [pagination]="true"
              (gridReady)="onGridReady($event)"
              (cellClicked)="cellClickEvent($event)"
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              [filterable]="true"
              [showfilterrow]="true"
              [rowData]="rowData">
            </ag-grid-angular>
          </div>
        </mat-tab>

        <!-- FIFO Users Tab -->
        <mat-tab label="FIFO Users" >
          <div class="row">
            <div class="col-md-8">
              <p class="form-header-3">FIFO Users</p>
              <p class="file-upload-heading-info">Manage FIFO Users here.</p>

              <div class="search-container">
                <div class="search-box">
                  <i class="fa-solid fa-magnifying-glass"></i>
                  <input type="text" placeholder="Search here..." [value]="fifoUserAccessSearch" (input)="searchForText($event)" style="width: 100%;border: solid 0px;" />
                </div>
              </div>

              <div class="details">
                <table class="table-wrapper">
                  <table>
                    <tr>
                      <th>No.</th>
                      <th>User Code</th>
                      <th>User Name</th>
                      <th>User Email</th>
                      <th>FIFO Portal Role Access</th>
                    </tr>
                    <tr *ngFor="let user of filteredUserAccessList; let index = index">
                      <td>{{index + 1}}</td>
                      <td>{{user.userCode}}
                      <td>{{user.UserName}}</td>
                      <td>{{user.UserEmail}}</td>
                      <td>{{user.RoleName}}</td>
                    </tr>
                  </table>
                </table>
              </div>

            </div>
          </div>
        </mat-tab>

      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #userMappingTemplate>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-between align-items-center">
        <div class="col-md-10">
          <p class="form-header-3">User Master - Excel Upload</p>
          <p class="file-upload-heading-info">Fill up the Excel file in the given format and upload</p>
        </div>
        <div class="col-md-2 text-right">
          <button closeButton [mat-dialog-close]="false"></button>
        </div>
      </div>
    </div>

    <div style="height: 10px"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid border" style="height: 17vw">
          <div style="height: 15px"></div>
          <div class="row">
            <!-- Download Template Section First -->
            <div class="col-md-6">
              <p class="file-upload-heading">Download Template</p>

              <button type="button" class="btn upload-btn btn-sm mt-1" (click)="downloadUserMappingTemplate()" style="margin-left: 20px">
                <i class="fa fa-cloud-download"> &nbsp; Download Template</i>
              </button>
              <ul style="font-size: 13px; font-style: italic; margin-top: 8px;">
                <li>Download the template file if it is not already available</li>
                <li>Fill up the columns following the guidelines</li>
                <li>Save and Upload the file</li>
              </ul>
            </div>

            <!-- Upload Section Second -->
            <div class="col-md-6">
              <p class="file-upload-heading">Upload</p>
              <div style="height: 15px"></div>
              <angular-file-uploader
                #usrMasterBulkUpload
                (ApiResponse)="afterUpload($event)"
                [config]="afuConfig">
              </angular-file-uploader>
              <br>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>

