<div class="container-fluid">
<div class="card" style="height: 100%">
<div class="card-body" >
  <div class="row">
    <div class="col-md-12" align="left">
      <label class="form-header-3">Requesters&nbsp;</label>
      <label class="form-header-3">Mapping&nbsp;</label>
      <small style="color: #005193">- Depot wise requester mapping for FIFO bypass . </small>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 ">
      <mat-divider></mat-divider>
    </div>
  </div>

  <div style="height: 20px"></div>

  <div class="d-flex justify-content-between align-items-center flex-wrap">
      <button class="btn upload-btn btn-sm mr-1 mt-2" (click)="openTemplateDownloadWarning()" style="height: 30px;">
        <i class="fa fa-cloud-upload"> &nbsp; Upload Mapping</i>
      </button>
      <button class="btn mapping-btn btn-sm mr-1 mt-2" (click)="addNewUserMapping()" style="height: 30px;">
        <i class="fa fa-user-plus"> &nbsp; New Mapping</i>
      </button>
      <div class="sb-example-userMaster d-flex align-items-center flex-grow-1">
        <input type="text" class="searchTerm mt-2" placeholder="Search here..." (keypress)="omit_special_char($event)" [(ngModel)]="search" (input)="globalSearch(search)">
      </div>
  </div>

  <div style="height: 5px"></div>

  <div class="d-flex justify-content-center p-0" >
      <ag-grid-angular
        style="width: 100%; height: 500px;text-align: center"
        class="ag-theme-balham"
        [rowHeight]="26"
        [paginationAutoPageSize]="true"
        [paginationPageSize]="20"
        [headerHeight]="35"
        [scrollbarWidth]="2"
        [pagination]="true"
        (gridReady)="onGridReady($event)"
        (cellClicked)="cellClickEvent($event)"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        [filterable]="true" [showfilterrow]="true"
        [rowData]="rowData">
      </ag-grid-angular>
    </div>
</div>
</div>
</div>

<ng-template #userMappingTemplate>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-between align-items-center">
        <div class="col-md-10">
          <p class="form-header-3">User Master - Excel Upload</p>
          <p class="file-upload-heading-info">Fill up the Excel file in the given format and upload</p>
        </div>
        <div class="col-md-2 text-right">
          <button closeButton [mat-dialog-close]="false"></button>
        </div>
      </div>
    </div>

    <div style="height: 10px"></div>

    <div class="row">
      <div class="col-md-12">
        <div class="container-fluid border" style="height: 17vw">
          <div style="height: 15px"></div>
          <div class="row">
            <!-- Download Template Section First -->
            <div class="col-md-6">
              <p class="file-upload-heading">Download Template</p>

              <button type="button" class="btn upload-btn btn-sm mt-1" (click)="downloadUserMappingTemplate()" style="margin-left: 20px">
                <i class="fa fa-cloud-download"> &nbsp; Download Template</i>
              </button>
              <ul style="font-size: 13px; font-style: italic; margin-top: 8px;">
                <li>Download the template file if it is not already available</li>
                <li>Fill up the columns following the guidelines</li>
                <li>Save and Upload the file</li>
              </ul>
            </div>

            <!-- Upload Section Second -->
            <div class="col-md-6">
              <p class="file-upload-heading">Upload</p>
              <div style="height: 15px"></div>
              <angular-file-uploader
                #usrMasterBulkUpload
                (ApiResponse)="afterUpload($event)"
                [config]="afuConfig">
              </angular-file-uploader>
              <br>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ng-template>

